binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/SwiftDate/SwiftDate.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/LeadKit/LeadKit.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/Alamofire/Alamofire.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/RxAlamofire/RxAlamofire.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/KeychainAccess/KeychainAccess.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/CryptoSwift/CryptoSwift.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/SwiftValidator/SwiftValidator.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/PinLayout/PinLayout.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/TableKit/TableKit.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/RxSwift/RxSwift.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/UIScrollView_InfiniteScroll/UIScrollView_InfiniteScroll.json"
binary "https://raw.github.com/TouchInstinct/CarthageBinaries/rebuild_with_swift_5_1/SnapKit/SnapKit.json"
