binary "https://raw.github.com/petropavel13/CarthageBinaries/master/SwiftDate/SwiftDate.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/LeadKit/LeadKit.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/Alamofire/Alamofire.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/RxAlamofire/RxAlamofire.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/KeychainAccess/KeychainAccess.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/CryptoSwift/CryptoSwift.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/SwiftValidator/SwiftValidator.json"
binary "https://raw.github.com/petropavel13/CarthageBinaries/master/PinLayout/PinLayout.json"
github "ReactiveX/RxSwift"
github "maxsokolov/TableKit"
github "pronebird/UIScrollView-InfiniteScroll"
